In [2]:
import pandas as pd
df = pd.read_table("spam.csv")
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [2]:
# checking the values 
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [3]:
x = df['message'].values #choose the input 
y = df['label'].values   #choose the output

In [7]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [8]:
#step1 - apply count vectorizer for the input data 

from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words = 'english')

x_train_vect = vect.fit_transform(x_train)
x_test_vect = vect.transform(x_test)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline 
model = make_pipeline(CountVectorizer(),MultinomialNB())

model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array(['ham', 'spam', 'ham', ..., 'spam', 'ham', 'ham'], dtype='<U4')

In [10]:
print(y_test)

['ham' 'spam' 'ham' ... 'spam' 'ham' 'ham']

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9885139985642498

In [12]:
input=["Free entry in 2 a wkly comp to win FA Cup"]

In [13]:
print(model.predict(input))

['spam']

In [14]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [15]:
model=pickle.load(open('model.pkl', 'rb'))
print(model.predict(["Free entry in 2 a wkly comp to win FA Cup"]))

['spam']